PORT=
PUBLIC_PATH=public

# URL OF MONGO DB
MONGO_URL=
# NAME OF MONGO DB
DB_NAME=

JWT_SECRET=
# WEBSERVICE_URL=http://localhost:8080/api/v1
WEBSERVICE_URL=
# MAILER_SERVICE=smtp || gmail || sendgrid || mailgun 
MAILER_SERVICE=
# MAILER_HOST=gmail || smtp.gmail.com || smtp.sendgrid.net || smtp.mailgun.org
MAILER_EMAIL=
# MAILER_SECRET_KEY=your_secret_key (Application passwords for gmail, api key for sendgrid, api key for mailgun, etc.) 
MAILER_SECRET_KEY=
# ACCESS_TOKEN = your_access_token MERCADO PAGO
ACCESS_TOKEN=

# CLOUDINARY CONFIG
CLOUD_NAME=
API_KEY=
API_SECRET=